* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,.32);
    font-family: monospace;
    color: rgb(190, 190, 190);
    z-index: 3;
}

.title-wrapper, nav, .img-wrapper {
    display: flex;
    width: 350px;
}

.title-wrapper {
    justify-content: center;
}

.title-wrapper h1 {
    text-align: center;
}

.img-wrapper {
    justify-content: flex-end;
}

header > *:hover {
    cursor: default;
}

header nav button, h1 {
    padding: 10px 0;
}

header nav button {
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.1em;
    color: #bebebe;
}

header nav button:focus {
    outline: none;
}

header nav button:hover, h1:hover {
    color: white;
    text-shadow: white 0 0 10px;
}

header nav button #plus {
    height: 0.8em;
}

header nav button p {
    margin-left: 5px;
}

header img {
    height: 40px;
    width: auto;
    margin-right: 10px;
    border-radius: 50%;
}

header img:hover {
    box-shadow: white 0 0 10px;
}

.bkgrnd {
    height: 94.3vh;
    width: 100%;
    padding: 3vh;
}

.task-view {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    height: 100%;
    width: auto;
    overflow: scroll;
}

.task-list {
    display: inline-block;
    background: #dbdbdb;
    border-radius: 3px;
    min-width: 300px;
    padding: 10px 0;
    margin-right: 20px;
    z-index: 2;
    opacity: 0.9;
    box-shadow: #5a5a5a 1px 2px 5px;
}

.task-list:nth-last-child(1) {
    margin-right: 0;
}

.task-list h3 {
    margin: 0 30px;
    font-size: 1.4em;
}

.task, .add-task {
    font-family: monospace;
    font-size: 1.2em;
    width: 80%;
    height: 100%;
    margin: 10px auto;
    border-radius: 4px;
}

.task {
    padding: 10px;
    background: white;
    box-shadow: #999898 0px 1px 3px;
}

.task p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin: 0 10%;
    transition: 0.3s all ease;
}

.task input[type=checkbox] {
    margin-right: 20px;
}

.task input[type=checkbox]:focus {
    outline: none;
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 17px 10px;
    border: 3px dashed #808080;
    color: #808080;
    cursor: pointer;
}

.add-task:hover {
    background: #c5c5c5;
    border: 3px solid transparent;
}

.add-task:active {
    background: #b3b3b3;
    border: 3px solid transparent;
}

.add-task:focus {
    outline: none;
}

.new-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.new-input > * {
    border: none;
}

.new-input > *:focus {
    outline: none;
}

.new-input input[type=text] {
    padding: 9px 13px;
    width: 70%;
    margin-right: -5px;
    border: 1px solid #b1b1b1;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.new-input button {
    padding: 5.5px 7px;
    font-size: 1.3em;
    background-color: #b1b1b1;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.new-input button:hover {
    background-color: black;
    color: white;
}

/* stop parallax for all tablets and mobile devices */
@media all and (max-width: 1023px) {
    .bkgrnd:before {
        background-attachment: scroll;
    }
}

/* parallax scrolling for desktops */
@media all and (min-width: 1024px) {
    .bkgrnd:before {
        background-attachment: fixed;
    }
}